
<%= render 'partials/header' %>

<br>
<br>
<div id="services-page">
<%= render :partial => "partials/feature", locals: {type: @full_feature} %>
</div>
<br><br>

<div id="full-services-panel">
	<div id="title">Services</div>

	<div id="services" class="classy-list">
		<% @services.each.with_index do |service, index| %>
			<div class="a-service large">
				<% if index.even? %>
					<div class="picture-left picture">
						<%= image_tag service.main_photo.url(:detail) %>
						<div class="title-area"><%= service.title %></div>
					</div>
					<div class="description description-right"><%= service.description %></div>
				<% elsif index.odd? %>
					<div class="picture-right picture">
						<%= image_tag service.main_photo.url(:detail) %>
						<div class="title-area"><%= service.title %></div>
					</div>
					<div class="description description-left"><%= service.description %></div>					
				<% end %>
			</div><br><br><br>
		<% end %>
		<% @services.each.with_index do |service, index| %>
			<div class="a-service normal">
					<div class="picture">
						<%= image_tag service.main_photo.url(:detail) %>
						<div class="title-area"><%= service.title %></div>
					</div>
					<div class="description description-right"><%= service.description %></div>
			</div><br><br><br><br><br>
		<% end %>
	</div>
</div>

<%= render 'partials/footer' %>