
<%= render 'partials/header' %>

<br>
<br>
<div id="exhibition">
<%= render :partial => "partials/feature", locals: {type: @full_feature} %>
</div>
<br><br>

<div id="full-exhibition-results">
	<div id="exhibition-nav-only-show">
		<span>Exhibitions</span><br>
		<ul>
			<li id="margin-correct"><%= link_to @correct_version, exhibitions_current_path, :id => "first-link" %></li>
			<li id="upcoming-expo"><%= link_to "Upcoming", exhibitions_upcoming_path, :id => "middle-link" %></li>
			<li id="non-margin-correct"><%= link_to "Past", exhibitions_path, :id => "last-link" %></li>
		</ul>
	</div>
	<div id="exhibition-results">
	</div>

	<div id="single-showing">
		<%= image_tag @exhibition.main_photo.url(:full_feature) if @exhibition.present? %>
		<div id="info">
			<div class="a-result-info">
				<div class="column-1">
					<span id="artist"><br><%= @exhibition.artist.last_first if @exhibition.artist.present? %></span><br><br>
					<span id="title"><%= @exhibition.title if @exhibition.present? %></span>
				</div>
				<div class="column-2">
					<br><%= @exhibition.from_date.to_formatted_s(:long) if @exhibition.present? %><br><br>
					<span class="admission"><a href=<%= @exhibition.link %>>RSVP</a></span>
				</div>
			</div>
		</div>
	</div>
	<div id="description-of-showing">
	<div class="mobile-admission"><a href=<%= @exhibition.link %>>RSVP</a></div><br><br>
	<%= @exhibition.description if @exhibition.present? %>
	</div>
	<br>
	<div class="picture-show">
		<a href=<%= @exhibition.alt_photo_1.url(:popup) %>><%= image_tag(@exhibition.alt_photo_1.url(:icon)) unless @exhibition.alt_photo_1_file_name.nil? %></a>
		<a href=<%= @exhibition.alt_photo_2.url(:popup) %>><%= image_tag(@exhibition.alt_photo_2.url(:icon)) unless @exhibition.alt_photo_2_file_name.nil? %></a>
		<a href=<%= @exhibition.alt_photo_3.url(:popup) %>><%= image_tag(@exhibition.alt_photo_3.url(:icon)) unless @exhibition.alt_photo_3_file_name.nil? %></a>
	</div>
	<br><br>
</div>

