<tr class="insert-row"><td colspan="4">
<div class="returned-show">
	<div id="column-1" style="background-image: url(<%= @artwork.photo.url(:original) %>)">
		<a href="<%=@artwork.photo.url%>" class="click-to-popup"></a>
	</div>
	<div id="column-2">
		<div class="artist">
			<span class="listing">
				<a href="javascript:void(0)" class="fake-search"><%= @artwork.artist.last_first unless @artwork.artist.nil? %></a>
			</span>
		</div>
		<div class="title"><%= @artwork.title %></div>

		<span class="mobile-remove">Medium:</span>
		<% @artwork.media.each do |r| %>
			<span class="mobile-remove"><%= r.title %></span>
		<% end %>
		<br>
		<% unless @artwork.width.nil? %>
			<%= @artwork.width %>" x <%= @artwork.height %>"<br>
		<% end %>
		<div class="the-jtg">JTG#: <%= @artwork.jtg %></div><br>
		<br class="another-mobile-remove"><br class="mobile-remove">
		<div class="additional-info">
			<span class="mobile-remove">Style:</span>
			<span class="listing mobile-remove"><% @artwork.styles.each do |r| %>
				<a href="javascript:void(0)" class="fake-search mobile-remove"><%= r.title %></a>
			<% end %></span>
			<br>
			Subjects:
			<span class="listing"><% @artwork.subjects.each do |r| %>
				<a href="javascript:void(0)" class="fake-search"><%= r.title %></a> |
			<% end %></span>
			<br>
			Locations:
			<span class="listing"><% @artwork.locations.each do |r| %>
				<a href="javascript:void(0)" class="fake-search"><%= r.title %></a> |
			<% end %></span>
			<br>
		</div>
	</div>

	<script>
		$(".fake-search").click(function(e) {
			elementContent = $(this).text();
			console.log(elementContent);
			$("#q-search-bar").attr("value", elementContent);
			$("#query-submit").trigger("click");

		});

		$(".click-to-popup").magnificPopup({
			type: 'image'
		});

	</script>
</div>
</td></tr>