<div class="returned-show">
	<div id="column-1" style="background-image: url(<%= @artwork.photo.url(:original) %>)">

	</div>
	<div id="column-2">
		<div class="artist"><%= @artwork.artist.last_first unless @artwork.artist.nil? %></div>
		<div class="title"><%= @artwork.title %></div>

		Medium:
		<% @artwork.media.each do |r| %>
			<%= r.title %>
		<% end %>
		<br>
		<% unless @artwork.width.nil? %>
			<%= @artwork.width %>" x <%= @artwork.height %>"<br>
		<% end %>
		JTG#: <%= @artwork.jtg %><br>
		<br><br>
		<div class="additional-info">
			Style: 
			<span class="listing"><% @artwork.styles.each do |r| %>
				<a href="javascript:void(0)" class="fake-search"><%= r.title %></a>
			<% end %></span>
			<br>
			Subjects:
			<span class="listing"><% @artwork.subjects.each do |r| %>
				<a href="javascript:void(0)" class="fake-search"><%= r.title %></a> |
			<% end %></span>
			<br>
			Locations:
			<span class="listing"><% @artwork.locations.each do |r| %>
				<a href="javascript:void(0)" class="fake-search"><%= r.title %></a> |
			<% end %></span>
			<br>
		</div>
	</div>

	<script>
		$(".fake-search").click(function(e) {
			elementContent = $(this).text();
			console.log(elementContent);
			$("#q-search-bar").attr("value", elementContent);
			$("#query-submit").trigger("click");

		});

	</script>
</div>