<div class="a-admin-panel" id="artwork-admin">
	<ul>
		<li><%= link_to "Artwork", fineart_admin_path, :id => "first-admin-button" %></li>
		<li><%= link_to "Artists", artists_path %></li>
		<li><%= link_to "Subjects Index", subjects_path %></li>
		<li><%= link_to "Locations Index", locations_path%></li>
		<li><%= link_to "Keywords Index", keywords_path, :id => "last-admin-button" %></li>
	</ul>
</div>