<footer>
	<%= image_tag "footer/bottom_divider.png", :id => "bottom-divider" %>
	
	<div id="footer-panels">
		
		<div id="footer-panel-2" class="a-footer-panel">
			<div class="panel-title">
			Newsletter
			</div>
			<div id="email-form">
			<%= link_to "Subscribe to<br>J. Todd News".html_safe, "http://jtoddgalleries.com/" %>
			</div>
		</div>
		<div id="footer-panel-1" class="a-footer-panel">
			<div class="panel-title">
			Follow Us
			</div>
			<div id="social-icons">
				<div id="social-1">
					<%= link_to image_tag("footer/facebook.png"), "https://www.facebook.com/JToddGalleries", target: "_blank", :class => "color-icon" %>
				</div>
				<div id="social-2">
					<%= link_to image_tag("footer/pinterest.png"), "https://www.pinterest.com/jtoddgalleries/", target: "_blank", :class => "color-icon" %>
				</div>
				<div id="social-3">
					<%= link_to image_tag("footer/instagram.png"), "https://instagram.com/jtoddgalleries/", target: "_blank", :class => "color-icon" %>
				</div>
			</div>
		</div>
		<div id="footer-panel-3" class="a-footer-panel">
			<div class="panel-title">
			For Artists
			</div>
			<div id="pinterest-panel">
				<%= link_to "Submission Information<br>for Artists".html_safe, for_artists_path %>
			</div>
		</div>
	</div>
	<br>
	<br>
	<div id="temp-submission"><%= link_to "Artist Submission Information", for_artists_path %></div>
	<div id="copyright">
	©2015 J. Todd Galleries
	</div>

</footer>