
<%= render 'partials/header' %>

<br>
<br>
<div id="homepage">
<%= render :partial => "partials/feature", locals: {type: @full_feature, count: @total_art} %>
</div>
<div id="main-1">
	<div id="welcome">
		<p id="welcome-1">Largest Selection of Fine Art in New England</p>
		<p id="welcome-2">Est. 1980</p>
	</div>
	<div id="welcome-browse">
		<span id="full-info">100+ Artists<span id="get-rid-of-2"> • 1000+ Paintings</span><span id="get-rid-of-1"> • Custom Framing</span></span>
		<div id="welcome-browse-button">
			<%= link_to raw('BROWSE OUR COLLECTION'), fineart_path %>
		</div>
	</div>
	<div id="now-playing-panel">
		<div id="now-playing-panel-bg">
			<%= image_tag @first_one.main_photo.url(:listing) if @first_one.present? %>
		</div>
		<div id="now-playing-title"><%= @correct_version %>
		</div>
		<div id="now-playing-info">
		<%= @first_one.title if @first_one.present? %><br>
		<%= @first_one.artist.fullname if @first_one.present? %><br>
		<%= @first_one.from_date.strftime("%B %e, %Y") if @first_one.present? %>
		</div>
		<%= link_to "", exhibitions_current_path, :id => "to-now-showing" %>
	</div>
	<div id="now-playing-panel">
		<div id="now-playing-panel-bg">
			<%= image_tag @upcoming_one.main_photo.url(:listing) if @upcoming_one.present? %>
		</div>
		<div id="now-playing-title">Upcoming
		</div>
		<div id="now-playing-info">
		<%= @upcoming_one.title if @upcoming_one.present? %><br>
		<%= @upcoming_one.artist.fullname if @upcoming_one.artist.present? %><br>
		<%= @upcoming_one.from_date.strftime("%B %e, %Y") if @upcoming_one.present? %>
		</div>
		<%= link_to "", exhibitions_upcoming_path, :id => "to-now-showing" %>
	</div>
	<div id="sub-heading-panel">
		<div id="sub-heading-1" class="individual-sub-heading">
			<div class="desaturated-heading">
			</div>
			<div class="color-sub-heading">
			</div>
			<div class="gradient-overlay">
			</div>
			<div class="sub-heading-text">
				<div class="title">Home<br id="title-break"> Trial</div><br>
				<span class="info">Completely <span class="free-emphasis">Free</span><br class="home-trial-break"> Home Trial<br>
				at your most<br class="home-trial-break"> convenient time</span>
			</div>
			<%= link_to "", contact_path, :class => "clickable-overlay" %>
		</div>
		<div id="sub-heading-2" class="individual-sub-heading">
			<div class="desaturated-heading">
			</div>
			<div class="color-sub-heading">
			</div>
			<div class="gradient-overlay">
			</div>
			<div class="sub-heading-text">
				<div class="title">News</div><br>
				<span id="breakpoint-margin" class="article info"><%= @top_news_1.published_date.strftime("%b %e") %>: <%= @top_news_1.title %></span><br>
				<span class="article info"><%= @top_news_2.published_date.strftime("%b %e") %>: <%= @top_news_2.title %></span><br>
				<span class="article info"><%= @top_news_3.published_date.strftime("%b %e") unless @top_news_3.nil? %>: <%= @top_news_3.title unless @top_new_3.nil? %></span><br>
			</div>
			<%= link_to "", contact_path, :class => "clickable-overlay" %>
		</div>
		<div id="sub-heading-3" class="individual-sub-heading">
			<div class="desaturated-heading">
			</div>
			<div class="color-sub-heading">
			</div>
			<div class="gradient-overlay">
			</div>
			<div class="sub-heading-text">
				<div class="title">Art Facts</div><br>
				<span class="article info">Oil prints are generally less expensive than their brother, acrylic prints</span>
			</div>
			<%= link_to "", contact_path, :class => "clickable-overlay" %>
		</div>
	</div>
	<br>
	<br>
</div>

<%= render 'partials/footer' %>

<!-- '<span id="line-1">BROWSE OUR</span><br><span id="line2">COLLECTION</span>' -->