<%= render 'partials/header' %>

<br>
<br>
<div id="index2">
<%= render :partial => "partials/feature", locals: {type: @full_feature} %>
</div>

<br>
<%= render 'partials/artwork_admin' %>
<br>
<div class="edit-attributes-form">
	<div id="title">Update Keyword</div>
	<%= simple_form_for @keyword do |f| %>
		<%= f.input :title, label: false, placeholder: "Title" %>
		<%= f.button :submit %>
	<% end %>
</div>