
<%= render 'partials/header' %>

<br>
<br>
<div id="gallery-page">
<%= render :partial => "partials/feature", locals: {type: @full_feature} %>
</div>
<br><br>

<div id="full-about-panel">
	<div id="about-nav-gallery">
		<span>About Us</span><br>
		<ul>
			<li id="margin-correct"><%= link_to "Our Gallery", about_gallery_path, :id => "first-link" %></li>
			<li id="non-margin-correct"><%= link_to "Our Staff", about_staff_path, :id => "last-link" %></li>
		</ul>
	</div>

	<div id="about-gallery">
		<div class="left-entry" id="history-entry">
			<%= image_tag("fade_line.png") %>
			<div id="column-1">
				<div id="title">Our History</div>
				<div id="history-content">This is all of our history content...</div>
			</div>
			<div id="column-2">
			</div>
		</div>
		<div class="right-entry" id="mission-statement">
			<%= image_tag("fade_line.png") %>
			<div id="column-1"></div>
			<div id="column-2">
				<div id="title">Mission Statement</div>
				<div id="mission-content">This is our mission statement wrapped up neatly...</div>
			</div>
		</div>
		<div class="left-entry" id="goals-future">
			<%= image_tag("fade_line.png") %>
			<div id="column-1">
				<div id="title">Goals & Our Future</div>
				<div id="history-content">This is all of our future goals...</div>
			</div>
			<div id="column-2">
			</div>
		</div>
	</div>
</div>
