
<%= render 'partials/header' %>

<br>
<br>
<div id="staff-page">
<%= render :partial => "partials/feature", locals: {type: @full_feature} %>
</div>
<br><br>

<div id="full-about-panel">
	<div id="about-nav-staff">
		<span>About Us</span><br>
		<ul>
			<li id="margin-correct"><%= link_to "Our Gallery", about_gallery_path, :id => "first-link" %></li>
			<li id="non-margin-correct"><%= link_to "Our Staff", about_staff_path, :id => "last-link" %></li>
		</ul>
	</div>

	<div id="about-section">
		<div class="left-entry" id="history-entry">
			<%= image_tag("fade_line.png") %>
			<div id="column-1">
				<div id="title">Mona Kumar</div>
				<div id="history-content">Mona’s contributions to the art scene in the greater Boston area began in the late 1980’s when she served on the Executive Committee for Fundraising at the De Cordova Museum in Lincoln, MA. Mona expanded her reach beyond De Cordova’s attention to primarily modern and contemporary art and became actively involved as a patron at the Museum of Fine Arts in Boston. She soon became a leader, immersing herself on the Advisory Board of the Fashion Counsel, and as a member of the Patron’s Steering Committee. Becoming friendly with other gallery owners and prestigious art dealers in the Boston and international art scene, Mona Kumar has been equally respected for her sponsorship and launch of the Boston South Asian Film Festival which takes place at the MFA with sold out showings of films from India, Pakistan, Bangladesh, and the UK. </div>
			</div>
			<div id="column-2">
				<%= image_tag("mona.png", :id => "mona-picture") %>
			</div>
		</div>
		<div class="right-entry" id="mission-statement">
			<%= image_tag("fade_line.png") %>
			<div id="column-1">
				<%= image_tag("brian.png") %>
			</div>
			<div id="column-2">
				<div id="title">Brian Hart</div>
				<div id="mission-content">Brian is a graduate of the Rhode Island School of Design  and has worked at J. Todd Galleries for the past decade.  As curator his job is to not only select new artists for representation at the gallery but also to ensure we receive the best work from the artists we already represent.  Providing our clients with the newest and best work requires maintaining strong relationships and an understanding and respect for not just the artist’s work but also there process.  Being an internationally exhibited artist himself, Brian has a level of insight into artist’s studio practices and a keen eye that few other curators possess.</div>
			</div>
		</div>
		<div class="left-entry" id="goals-future">
			<%= image_tag("fade_line.png") %>
			<div id="column-1">
				<div id="title">Jessica</div>
				<div id="history-content">Jessica graduated from Bard College where she received her Bachelors degree in Studio Art.  She has also completed art programs at the Rhode Island School of Design, Skidmore College and MassArt.  Jessica has several years of framing experience and applies that acquired skill, along with her years of art training, to designing with her clients.  She understands the importance of selecting a frame that not only compliments the look of a finished piece of art but also contributes to the overall interior design and decor of a home. Jessica has always had a passion for the arts and truly enjoys sharing that passion with others.</div>
			</div>
			<div id="column-2">
				<%= image_tag("jessica.png", :id => "jessica-picture") %>
			</div>
		</div>
	</div>
</div>
